<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1><%= title%></h1>
    <% skills.forEach(function(skill){%>
        <h3><a href="skills/<%=skill.skill%>"><%= skill.skill %></a></h3>
        <ul>
            <% skill.proficiencies.forEach(function(proficiency){%>
                <li><%= proficiency %></li>
            <%}); %>
        </ul>
    <%});%>
</body>
</html>