<%- include('../partials/header') %>

    <h1><%=skill.skill%> Skills:</h1>
    <a href="/skills/<%=skill.skill%>/new">Add skill</a>
    <ul>
        <% for(let i =0; i< skill.proficiencies.length; i++){%>
            <% let proficiency = skill.proficiencies[i] %>
            <li><%= proficiency %> - <a href="/skills/<%=skill.skill%>/<%=i%>/edit">Edit</a>
                <form action="/skills/<%=skill.skill%>/<%=i%>/?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">Delete</button>
              </form>
            </li>
        <%}%>
    </ul>

<%- include('../partials/footer') %>